/* add @font-face */
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Regular.ttf);
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-BoldItalic.ttf);
  font-style: italic;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: lato;
  background-color: black;
  color: white;
}
/* Navigation */
.logo {
  margin: 0;
  padding-left: 5.347vw;

  @media (max-width: 500px) {
    width: 45px;
  }
}

nav {
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
#myLinks {
  display: flex;
  padding-right: 5.347vw;

  a {
    display: flex;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    /*color: #3d3d3d;*/
    color: white;

    &:visited {
      /*color: #3d3d3d;*/
      color: white;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.about-content {
  /*color: white;*/
  text-align: center;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  /*padding: 70px 50px;*/
  font-family: lato;
  font-size: 1rem;
  line-height: 1.2;
  top: 20%;
  position: absolute;
  bottom: 0;

  .say-hi {
    .link-profile {
      /*color: #3d3d3d;*/
      color: white;
    }
  }
}

@media (min-width: 320px) {
  .about-content {
    position: static;
    padding: 70px 50px;
    text-align: left;
    font-size: 1.1rem;
  }
  .footer {
    .credit-personal {
      font-size: 0.5rem;
    }
    .footer-right {
      .credit-professional {
        font-size: 0.5rem;
      }
    }
  }
}
@media (min-width: 600px) {
  .about-content {
    max-width: 1050px;
    display: flex;
    padding: /*189px*/ 12vh 25vw;
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
  }
}
.footer {
  text-align: center;
  font-family: lato;
  font-size: 16px;
  /*background-color: #f7f7f7;*/
  /*color: #3d3d3d;*/
  color: white;
  padding: 25px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;

  /*.getintouch {
    font-weight: bold;
    letter-spacing: 2px;
  }*/

  .email {
    font-family: droidserif;
    font-size: 25px;
    font-weight: bold;
    padding: 27px 0;

    a {
      text-decoration: none;
      /*color: #3d3d3d;*/
      color: white;
    }
  }
  .credit-professional {
    font-size: 10px;
  }
}

@media (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 12px;

    .footer-left {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 0;
      padding-left: 77px;

      /*.getintouch {
        padding-bottom: 15px;
      }
*/
      .email {
        padding: 0;
        padding-bottom: 40px;
      }
    }

    .footer-right {
      display: flex;
      align-items: flex-end;
      padding: 30px 0;
      padding-right: 77px;

      .credit-professional {
        font-size: 12px;
      }
    }
  }
}
