/* add @font-face */
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Regular.ttf);
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-BoldItalic.ttf);
  font-style: italic;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: lato;
  color: #3d3d3d;
  background-color: white;
}

.logo {
  margin: 0;
  padding-left: 25px;

  @media (max-width: 600px) {
    width: 45px;
  }
}

nav {
  /* 100vw = 100% of viewport width*/
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

#myLinks {
  display: flex;
  a {
    display: flex;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: #3d3d3d;

    &:visited {
      color: #3d3d3d;
    }
  }
}
@media screen and (min-width: 600px) {
  .logo {
    padding-left: 77px;
    padding-top: 25px;
  }
  #myLinks {
    padding-right: 77px;
    padding-top: 25px;
  }

  .intro-title {
    font-size: 57px;
  }
  .intro-subtitle {
    font-size: 2.5rem;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  font-family: Garamond;
  font-size: 15px;
  line-height: 1.2;
  top: 20%;
  position: absolute;
  bottom: 0;

  .say-hi {
    .link-profile {
      color: #3d3d3d;
    }
  }
}

@media (max-width: 320px) {
  .about-content {
    position: static;
  }
}
@media (min-width: 600px) {
  .about-content {
    max-width: 1050px;
    display: flex;
    padding: /*189px*/ 13.13vh 13.54vw;
    font-size: 22px;
    position: absolute;
  }
}
.footer {
  text-align: center;
  font-family: lato;
  font-size: 15px;
  /*background-color: #f7f7f7;*/
  color: #3d3d3d;
  padding: 25px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;

  /*.getintouch {
    font-weight: bold;
    letter-spacing: 2px;
  }*/

  .email {
    font-family: droidserif;
    font-size: 25px;
    font-weight: bold;
    padding: 27px 0;

    a {
      text-decoration: none;
      color: #3d3d3d;
    }
  }
  .credit-professional {
    font-size: 10px;
  }
}

@media (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 12px;

    .footer-left {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 0;
      padding-left: 77px;

      /*.getintouch {
        padding-bottom: 15px;
      }
*/
      .email {
        padding: 0;
        padding-bottom: 40px;
      }
    }

    .footer-right {
      display: flex;
      align-items: flex-end;
      padding: 30px 0;
      padding-right: 77px;

      .credit-professional {
        font-size: 12px;
      }
    }
  }
}
