@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Regular.ttf);
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: droidserif;
  src: url(./font/DroidSerif-BoldItalic.ttf);
  font-style: italic;
  font-weight: 500;
}

body {
  color: #3d3d3d;
  font-family: droidserif, Lato;
  position: relative;
  margin: 0px;
}
/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}
.logo {
  width: 74px;
  height: 74px;
}

.logo img {
  width: 74px;
  height: 74px;
  margin-left: 77px;
}
li {
  display: inline;
  margin-right: 35px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

li:last-child {
  margin-right: 93px;
}

/* Content Body */
.intro {
  margin: 0 auto;
  margin-top: 88px;
  text-align: center;
}

.intro p {
  margin: 0;
  margin-bottom: 145px;
}

.name {
  font-size: 57px;
  font-weight: bold;
  line-height: 1.5;
}

.role {
  font-size: 50px;
}

/* Projects Section*/
.projectnotes p {
  margin-top: 0px;
  margin-bottom: 35px;
  margin-left: 77px;
}
.renovation {
  font-family: lato;
}
/* Projects */
.projectsection {
  margin-left: 77px;
}
.project {
  display: flex;
  margin-bottom: 89px;
}

.projectimage {
  margin-right: 38px;
}

/*.responsive {
  width: 100%;
  height: auto;
}*/

.projecttext p {
  font-family: lato;
  font-size: 17px;
  margin-bottom: 50px;
  margin-right: 76px;
}

/* Footer */
footer {
  background-color: #f7f7f7;
  height: 192px;
  margin: 0;
  margin-top: 113px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  margin-left: 77px;
}
.footer-right {
  margin-right: 77px;
  align-self: flex-end;
}

.getintouch {
  font-family: lato;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.email {
  font-family: droiserif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
}

.footnote {
  font-family: lato;
  font-size: 15px;
}

.credit {
  margin: 0;
  font-family: Lato;
  font-size: 15px;
  margin-bottom: 42px;
}
